<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns="CastleWindsorSchema">
  <components>
    <!--
    <component
      id="IContentLocator"
      service="EsriDE.Samples.ContentFinder.ContentAdapter.Contract.IContentLocator, EsriDE.Samples.ContentFinder.ContentAdapter.Contract"
      type="EsriDE.Samples.ContentFinder.ContentAdapter.Mxd.MxdContentLocator, EsriDE.Samples.ContentFinder.ContentAdapter">
    -->
    <component
      id="MxdContentLocator"
      type="EsriDE.Samples.ContentFinder.ContentAdapter.Mxd.MxdContentLocator, EsriDE.Samples.ContentFinder.ContentAdapter">
    </component>
      
    <component
      id="AgsContentLocatorFilter"
      service="EsriDE.Samples.ContentFinder.BL.Contract.IContentLocatorFilter, EsriDE.Samples.ContentFinder.BL.Contract"
      type="EsriDE.Samples.ContentFinder.BL.MxdContentLocatorFilter, EsriDE.Samples.ContentFinder.BL">
      <contentLocator>
        ${MxdContentLocator}
      </contentLocator>
    </component>
    
    <component
      id="IContentLocatorFilter"
      service="EsriDE.Samples.ContentFinder.BL.Contract.IContentLocatorFilter, EsriDE.Samples.ContentFinder.BL.Contract"
      type="EsriDE.Samples.ContentFinder.BL.MxdContentLocatorFilter, EsriDE.Samples.ContentFinder.BL"
      lifestyle="singleton">
      <parameters>
        <successor>
          ${AgsContentLocatorFilter}
        </successor>
        <contentLocator>
          ${MxdContentLocator}
        </contentLocator>
      </parameters>
      
    </component>
    
  </components>
</configuration>