<?xml version="1.0" encoding="utf-8"?>

<configuration
  xmlns="CastleWindsorSchema">
  <components>
    <component
      id="IContentProcessor"
      service="EsriDE.Trials.CastleWindsor.ResolvingCorComponents.IContentProcessor, EsriDE.Trials.CastleWindsor"
      type="EsriDE.Trials.CastleWindsor.ResolvingCorComponents.TestMasterContentProcessor, EsriDE.Trials.CastleWindsor"
      lifestyle="singleton" />

    <component
      id="ContentProcessor1"
      service="EsriDE.Trials.CastleWindsor.ResolvingCorComponents.Cor.ContentProcessor, EsriDE.Trials.CastleWindsor"
      type="EsriDE.Trials.CastleWindsor.ResolvingCorComponents.Cor.ArcMapMxdContentProcessor, EsriDE.Trials.CastleWindsor"
      lifestyle="singleton" />

    <component
      id="ContentProcessor2"
      service="EsriDE.Trials.CastleWindsor.ResolvingCorComponents.Cor.ContentProcessor, EsriDE.Trials.CastleWindsor"
      type="EsriDE.Trials.CastleWindsor.ResolvingCorComponents.Cor.ArcMapAgsContentProcessor, EsriDE.Trials.CastleWindsor"
      lifestyle="singleton" />

    <component
      id="EndContentProcessor"
      service="EsriDE.Trials.CastleWindsor.ResolvingCorComponents.Cor.ContentProcessor, EsriDE.Trials.CastleWindsor"
      type="EsriDE.Trials.CastleWindsor.ResolvingCorComponents.Cor.EndProcessor, EsriDE.Trials.CastleWindsor"
      lifestyle="singleton" />

    <component
      id="IApplication"
      service="EsriDE.Trials.CastleWindsor.ResolvingCorComponents.IApplication, EsriDE.Trials.CastleWindsor"
      type="EsriDE.Trials.CastleWindsor.ResolvingCorComponents.Application, EsriDE.Trials.CastleWindsor"
      lifestyle="singleton" />
  </components>
</configuration>