<?xml version="1.0" encoding="utf-8"?>

<configuration
  xmlns="CastleWindsorSchema">
  <components>
    <component
      id="IShifterPresenter"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IShifterPresenter, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.AgdAdapterCommons.ShifterPresenter, EsriDE.Samples.ContentFinder.AgdAdapterCommons"
      lifestyle="singleton" />

    <component
      id="IShifterModel"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IShifterModel, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.AgdAdapterCommons.ShifterModel, EsriDE.Samples.ContentFinder.AgdAdapterCommons"
      lifestyle="singleton" />

    <component
      id="IWindowInformation"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IWindowInformation, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.LegacyAgdAdapter.HostWindowInformation,EsriDE.Samples.ContentFinder.LegacyAgdAdapter"
      lifestyle="singleton" />

    <component
      id="IToggleablePresenter"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IToggleablePresenter, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.WPfUI.ContentFormPresenter, EsriDE.Samples.ContentFinder.WPfUI"
      lifestyle="transient" />

    <component
      id="IToggleableView"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IToggleableView, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.WPfUI.ContentForm, EsriDE.Samples.ContentFinder.WPfUI"
      lifestyle="transient" />

    <component
      id="IToggleableForm"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IToggleableForm, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.WPfUI.ContentForm, EsriDE.Samples.ContentFinder.WPfUI"
      lifestyle="transient" />
  </components>
</configuration>