<?xml version="1.0" encoding="utf-8"?>

<configuration
  xmlns="CastleWindsorSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="CastleWindsorSchema .\..\..\..\lib\Castle.Windsor\Castle.Windsor.xsd">

  <components>
    <component
      id="IShifterPresenter"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IShifterPresenter, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.AgdAdapterCommons.ShifterPresenter, EsriDE.Samples.ContentFinder.AgdAdapterCommons"
      lifestyle="singleton" />

    <component
      id="IShifterModel"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IShifterModel, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.AgdAdapterCommons.ShifterModel, EsriDE.Samples.ContentFinder.AgdAdapterCommons"
      lifestyle="singleton" />

    <component
      id="IWindowInformation"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IWindowInformation, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.LegacyAgdAdapter.HostWindowInformation,EsriDE.Samples.ContentFinder.LegacyAgdAdapter"
      lifestyle="singleton" />

    <component
      id="IToggleablePresenter"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IToggleablePresenter, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.WPfUI.ContentFormPresenter, EsriDE.Samples.ContentFinder.WPfUI"
      lifestyle="transient" />

    <component
      id="IToggleableView"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IToggleableView, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.WPfUI.ContentForm, EsriDE.Samples.ContentFinder.WPfUI"
      lifestyle="transient" />

    <component
      id="IToggleableForm"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IToggleableForm, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.WPfUI.ContentForm, EsriDE.Samples.ContentFinder.WPfUI"
      lifestyle="transient" />

    <component
      id="IPortal"
      service="EsriDE.Samples.ContentFinder.UI.Contract.IPortal, EsriDE.Samples.ContentFinder.UI.Contract"
      type="EsriDE.Samples.ContentFinder.WPfUI.ContentUserControl, EsriDE.Samples.ContentFinder.WPfUI"
      lifestyle="transient">
      <parameters>
        <Controller>
          ${IController}
        </Controller>
      </parameters>
    </component>

    <component
      id="IController"
      service="EsriDE.Samples.ContentFinder.BL.Contract.IController, EsriDE.Samples.ContentFinder.BL.Contract"
      type="EsriDE.Samples.ContentFinder.BL.Controller, EsriDE.Samples.ContentFinder.BL"
      lifestyle="transient" />
    
    <component
      id="IConfigurationReader"
      service="EsriDE.Samples.ContentFinder.ConfigurationAdapter.Contract.IConfigurationReader, EsriDE.Samples.ContentFinder.ConfigurationAdapter.Contract"
      type="EsriDE.Samples.ContentFinder.XmlConfigurationAdapter.XmlConfigurationReader, EsriDE.Samples.ContentFinder.XmlConfigurationAdapter"
      lifestyle="transient" />

    <component
      id="IContentLocatorResolver"
      service="EsriDE.Samples.ContentFinder.ContentAdapter.Contract.IContentLocatorResolver, EsriDE.Samples.ContentFinder.ContentAdapter.Contract"
      type="EsriDE.Samples.ContentFinder.ContentAdapter.ContentLocatorResolver, EsriDE.Samples.ContentFinder.ContentAdapter"
      lifestyle="transient" />

    <component
      id="ContentLocatorCreatorFilters"
      service="System.Collections.Generic.IEnumerable`1[[EsriDE.Samples.ContentFinder.ContentAdapter.Contract.IContentLocatorCreatorFilter, EsriDE.Samples.ContentFinder.ContentAdapter.Contract]], mscorlib"
      type="System.Collections.Generic.List`1[[EsriDE.Samples.ContentFinder.ContentAdapter.Contract.IContentLocatorCreatorFilter, EsriDE.Samples.ContentFinder.ContentAdapter.Contract]], mscorlib"
      lifestyle="transient">
      <parameters>
        <collection>
          <array>
            <item>
              ${MxdContentLocatorCreatorFilter}
            </item>
            <item>
              ${AgsContentLocatorCreatorFilter}
            </item>
          </array>
        </collection>
      </parameters>
    </component>

    <component
      id="MxdContentLocatorCreator"
      type="EsriDE.Samples.ContentFinder.ContentAdapter.MxdContentLocatorCreator, EsriDE.Samples.ContentFinder.ContentAdapter">
    </component>

    <component
      id="AgsContentLocatorCreator"
      type="EsriDE.Samples.ContentFinder.ContentAdapter.AgsContentLocatorCreator, EsriDE.Samples.ContentFinder.ContentAdapter">
    </component>

    <component
      id="MxdContentLocatorCreatorFilter"
      type="EsriDE.Samples.ContentFinder.ContentAdapter.ContentLocatorCreatorFilter, EsriDE.Samples.ContentFinder.ContentAdapter">
      <parameters>
        <type>mxd</type>
        <contentLocatorCreator>
          ${MxdContentLocatorCreator}
        </contentLocatorCreator>
      </parameters>
    </component>

    <component
      id="AgsContentLocatorCreatorFilter"
      type="EsriDE.Samples.ContentFinder.ContentAdapter.ContentLocatorCreatorFilter, EsriDE.Samples.ContentFinder.ContentAdapter">
      <parameters>
        <type>ags</type>
        <contentLocatorCreator>
          ${AgsContentLocatorCreator}
        </contentLocatorCreator>
      </parameters>
    </component>


  </components>
</configuration>